@font-face {
    font-family: "Baloo2";
    src: url(../fonts/Baloo2-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Baloo2";
}

.corpo_pagina {
    display: flex;
    background-color: #F6F6F6;
    min-height: 100vh;
}

/* Retirar o sublinhado de todos a */
a {
    text-decoration: none;
}

/* Menu lateral */
.menu_lateral {
    background-color: #ffffff;
    min-width: 230px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px;
}


/* Opcoes de navegacao e perfil */
.menu_lateral .opcoes_menu {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

/* Area do pefil e descricao - Email / Nome */
.menu_lateral .opcoes_menu .perfil {
    display: flex;
    gap: 10px;
    align-items: center;
}

.menu_lateral .opcoes_menu .perfil .descricao_perfil {
    font-size: 15px;
}

.menu_lateral .opcoes_menu .perfil h4 {
    font-weight: bold;
    margin: 0;
}

.menu_lateral .opcoes_menu .perfil h5 {
    font-weight: 400;
    margin: 0;
}

.menu_lateral .opcoes_menu .perfil>i {
    font-size: 40px;
}

/* Navegacao menu lateral */
.opcoes_menu a {
    margin-left: 20px;
    color: black;
    font-size: 20px;
    transition: 0.3s;
}


.opcoes_menu .lista_opcoes ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.opcoes_menu .lista_opcoes li:hover {
    color: #003a61;
    transition: 0.3s;
}

.opcoes_menu .lista_opcoes a:hover {
    color: #003a61;
    transition: 0.3s;
}

.menu_lateral .container_sair a {
    margin-left: 20px;
    font-size: 20px;
    color: black;
}

.menu_lateral .container_sair>i {
    font-size: 20px;
}

.menu_lateral .container_sair a:hover {
    color: #003a61;
    transition: 0.3s;
}

.menu_lateral .container_sair i:hover {
    color: #003a61;
    transition: 0.3s;
}


@media (max-width: 768px) {
    .menu_lateral {
        position: fixed;
        top: 0;
        left: -260px;
        height: 100vh;
        z-index: 1100;
        transition: left 0.3s ease;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    }

    .menu_lateral.ativo {
        left: 0;
    }

    /* Evita scroll horizontal quando menu aberto */
    body.menu-aberto {
        overflow-x: hidden;
    }


}

/* Botão menu mobile */
#btn-menu {
    display: none;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1200;
    opacity: 0.7;
    /* Mais transparente que 1.0, mas ainda bem visível */
}

@media (max-width: 768px) {
    #btn-menu {
        display: block;
    }
}

/* Tela principal do projeto */

.conteudo_cadastrados {
    padding: 40px 2vw 20px 2vw;
    /* top, right, bottom, left */
    width: 100%;
    background-color: #F6F6F6;
}

.cabecalho_cadastrados {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cabecalho_cadastrados h2 {
    font-size: 3rem;
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    .conteudo_cadastrados {
        padding: 50px 5vw 20px 5vw;
        width: 100%;
    }

    .cabecalho_cadastrados{
        margin-top: 30px;
    }

    .cabecalho_cadastrados h2 {
        font-size: 1.8rem;
        transition: 0.5s;
    }
}

/* Sessao pesquisar alunos */

.pesquisa_alunos {
    margin-top: 30px;
}

.pesquisa_alunos .container_pesquisar {
    min-width: 400px;
}

@media screen and (max-width:768px) {
    .pesquisa_alunos .container_pesquisar {
        min-width: 100px;
    }

    .pesquisa_alunos .container_pesquisar input {
        font-size: 13px;
    }

    .pesquisa_alunos .container_pesquisar input::placeholder {
        font-size: 12px;
    }
}

/* Sessao tabela */

.sessao_tabela {
    margin-top: 30px;
    font-size: 18px;
}

.sessao_tabela table tfoot {
    text-align: center;
}