* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/apresentacao_img/background_fundo.png);
    background-color: #E6FBFF;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 80%;
    height: 90vh;
    background-color: #FFFFFF;
    border-radius: 27px;
    padding: 32px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container img {
    width: 200px;
}

.esquerda, .direita {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formLogin, .formCadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

input, button {
    padding: 12px 20px;
    border-radius: 8px;
    outline: none;
}

h2 {
    margin-bottom: 32px;
}