@font-face {
    font-family: "Baloo2";
    src: url(../fonts/Baloo2-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Bungee";
    src: url(../fonts/Bungee-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Baloo2";
}

/* Links */
a {
    text-decoration: none;
}

.corpo_pagina {
    display: flex;
    min-height: 100vh;
}

.menu_lateral {
    background-color: #ffffff;
    min-width: 230px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-right: 2px solid rgb(222, 222, 222);
}

.menu_lateral .opcoes_menu {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.menu_lateral .opcoes_menu .perfil {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.menu_lateral .opcoes_menu .perfil:hover {
    background-color: #e7e7e7;
    border-radius: 7px;
    padding: 5px;
    transition: 0.3s;
}

.menu_lateral .opcoes_menu .perfil .descricao_perfil {
    font-size: 15px;
}

.menu_lateral .opcoes_menu .perfil>i {
    font-size: 40px;
}

.opcoes_menu a {
    margin-left: 20px;
    color: black;
    font-size: 20px;
    transition: 0.3s;
}

.opcoes_menu .lista_opcoes ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    transition: transform 0.5s ease;
}

.opcoes_menu .lista_opcoes li {
    transition: 0.3s;
}

.opcoes_menu .lista_opcoes li:hover {
    color: #003a61;
    transform: translateY(-3px);
    transition: 0.3s;
}

.opcoes_menu .lista_opcoes a:hover {
    color: #003a61;
    transition: 0.3s;
}

.menu_lateral .container_sair a {
    margin-left: 20px;
    font-size: 20px;
    color: black;
}

.menu_lateral .container_sair>i {
    font-size: 20px;
}

.menu_lateral .container_sair a:hover {
    color: #bd0808;
    transition: 0.3s;
}

.menu_lateral .container_sair i:hover {
    color: #bd0808;
}

@media (max-width: 1024px) {
    .menu_lateral {
        position: fixed;
        top: 0;
        left: -260px;
        height: 100vh;
        z-index: 1100;
        transition: left 0.3s ease;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    }

    .menu_lateral.ativo {
        left: 0;
    }

    body.menu-aberto {
        overflow-x: hidden;
    }
}

#btn-menu {
    display: none;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1200;
    opacity: 0.7;
}

@media (max-width: 1024px) {
    #btn-menu {
        display: block;
    }
}

.conteudo_cadastrados {
    padding: 60px 2vw 20px 2vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: url(../img/cadastro_img/Background.png);
    background-color: #e6fbffe0;
}

.cabecalho_cadastrados {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cabecalho_cadastrados h2 {
    font-size: 2rem;
    transition: 0.5s;
    color: #3b3b3b;
    font-family: 'Bungee';
}

@media screen and (max-width: 768px) {
    .conteudo_cadastrados {
        padding: 50px 5vw 20px 5vw;
        width: 100%;
    }

    .cabecalho_cadastrados {
        margin-top: 30px;
    }

    .cabecalho_cadastrados h2 {
        font-size: 2rem;
        transition: 0.5s;
    }

    .cabecalho_cadastrados img {
        margin-bottom: 16px;
    }
}

.form-cadastro-aluno label {
    font-size: 1.1rem !important;
}

.form-cadastro-aluno input {
    margin-bottom: 15px !important;
}


.oculto {
    display: none;
}

.sessao_tabela {
    margin-top: 20px;
    width: 100%;
}


.ui.steps {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    margin: 1em 0;
    background: none;
    box-shadow: none;
    line-height: 1.14285714em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34, 36, 38, .15);
    width: 100%;
}

@media (max-width: 768px) {
    .ui.steps {
        flex-direction: column;
        align-items: stretch;
        width: 100%;
    }

    .ui.steps .step {
        width: 100%;
        text-align: center;
    }
}

select.ui.dropdown {
    height: 38px;
    padding: .5em;
    border: 1px solid rgba(34, 36, 38, .15);
    visibility: visible;
    font-size: 1.2rem;
}

.ui.checkbox {
    display: inline-block;
    vertical-align: baseline;
    margin-top: 10px;
}

.sessao-tab {
    margin-top: 20px;
}

.ui.small.image,
.ui.small.images .image,
.ui.small.images img,
.ui.small.images svg {
    width: 130px;
    height: auto;
    font-size: .92857143rem;
}

.mensagem-modal {
    font-size: 20px;
}


#modal-excluir>.content {
    display: block;
    width: 100%;
    font-size: 1.2em;
    line-height: 1.4;
    padding: 1.5rem;
    text-align: center;
}

#modal-excluir.ui.basic.modal {
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none !important;
    color: #fff;
    text-align: center;
}

#modal-excluir .mensagem-modal {
    font-size: 20px;
}

#modal-editar>.content {
    display: block;
    width: 100%;
    font-size: 1.2em;
    line-height: 1.4;
    padding: 1.5rem;
    text-align: center;
}

#modal-editar.ui.basic.modal {
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none !important;
    color: #fff;
    text-align: center;
}

#modal-editar .mensagem-modal {
    font-size: 20px;
}

#btnSalvarEdicao {
    color: black !important;
}


.ui.message {
    position: relative;
    min-height: 1em;
    margin: 0;
    background: #f8f8f9;
    padding: 0.2em 1.5em;
    line-height: 1.4285em;
    color: rgba(0, 0, 0, .87);
    border-radius: .28571429rem;
    box-shadow: 0 0 0 1px rgba(34, 36, 38, .22) inset, 0 0 0 0 transparent;
}

#mensagem-erro-tipo-responsavel-1 {
    margin-top: 14.8px;
}

#mensagem-erro-estado-civil-1{
    margin-top: 14.8px;
}

#mensagem_erro_tipo_responsavel_2{
    margin-top: 14.8px;
}

#mensagem-erro-estado-civil-2{
    margin-top: 14.8px;
}

#mensagem-erro-parentesco-autorizada{
    margin-top: 14.8px;
}

#mensagem-erro-parentesco-autorizada2{
    margin-top: 14.8px;
}

.pesquisar_alunos{
    width: 100%;
}

.img-sem-resultado{
    width: 100%; 
    max-width: 400px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.mensagem_cadastrados{
    padding: 20px!important;
}