@font-face {
    font-family: "Bulgee";
    src: url(../fonts/Bungee-Regular.ttf);
}

@font-face {
    font-family: "Baloo2";
    src: url(../fonts/Baloo2-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Baloo2", Bulgee;
}

.fundo_apresentacao {
    background-image:  rgba(0, 0, 0, 0.5)  url(../img/apresentacao_img/background_fundo.png);
    background-color: #E6FBFF;
}

/* Tela Apresentação */
.tela_conteudo {
    background-color: #fff;
    min-height: 600px;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    transition: transform 0.5s ease;
}

.tela_conteudo:hover {
    transform: translateY(-5px);
    transition: transform 0.5s ease;
}

.tela_apresentacao h1 {
    font-family: "Bulgee";
    color: #000;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

}

.tela_apresentacao h1 span {
    color: #00568E;
    font-family: "Bulgee";
}

.tela_apresentacao h2 {
    font-family: "Baloo2";
}

.tela_apresentacao img {
    max-width: 300px;
}

.tela_apresentacao .botao_apresentacao>a {
    background-color: #1C86CC;
    padding: 5px 100px;
    width: 1000px;
    color: white;
    transition: 0.3s;
    border-radius: 20px;
}

.tela_apresentacao .botao_apresentacao>a:hover {
    background-color: #00568E;
    transition: 0.3s;
}